@font-face {
    font-family: Robotron;
    src: url('Robotron.ttf') /* Created by André Nossek */
}
body {
    margin: 0px;
    display: flex;
    margin-top: 18px;
    font-family: Robotron;
    justify-content: space-around
}
#container {
    padding: 14px;
    padding-top: 2px;
    text-align: center;
    background-color: black
}
#info {
    height: auto;
    height: 34px;
    display: flex;
    justify-content: space-around
}
#score, #wave, #lives {
    margin: auto;
    color: white;
    font-size: 24px;
    pointer-events: none
}
canvas {
    top: 30px;
    margin: auto;
    display: block;
    /* cursor: crosshair; */
    background-color: black;
    border: 6px solid rgb(255, 110, 0)
}
