#container {
    display: flex;
    text-align: center;
    position: absolute;
    justify-content: space-around;
    background-color: black;
    padding-bottom: 6px;
    height: 720px;
    width: 876px;
    z-index: 0;
}

#score, #lives, #wave {
    z-index: 1;
    margin: 0px;
    color: white;
    font-size: 20px;
}

#canvas {
    margin: auto;
    display: block;
    position: fixed;
    background-color: black;
    border: 4px solid rgb(255, 110, 0);
    /* cursor: crosshair; */
    height: 690px;
    width: 856px;
    z-index: 2;
    top: 30px;
}
