@font-face {
    font-family: Robotron;
    src: url('Robotron.ttf') /* Created by André Nossek */
}

body {
    display: flex;
    justify-content: space-around;
    font-family: Robotron
}

#container {
    flex-wrap: wrap;
    text-align: center;
    background-color: black;
    padding-bottom: 14px;
    height: 720px;
    width: 876px
}

#info {
    height: auto;
    height: 30px;
    display: flex;
    justify-content: space-around
}

#score, #wave, #lives {
    color: white;
    display: block;
    margin: auto;
    font-size: 20px
}

#canvas {
    margin: auto;
    display: block;
    background-color: black;
    border: 4px solid rgb(255, 110, 0);
    /* cursor: crosshair; */
    height: 690px;
    width: 856px;
    top: 30px
}
