@font-face {
    font-family: Robotron;
    src: url("robotron_font.ttf")
}
body {
    margin: 0;
    display: flex;
    padding: 6px 6px;
    font-family: "Robotron", sans-serif;
    justify-content: space-around;
    background-color: black;
}
body * {/*  !  !  !  !  ! */
    user-select: none
}
#top-info, #bottom-info {
    height: 34px;
    display: flex;
    pointer-events: none
}
#score-lives-container {
    display: flex;
    margin-left: 15px;
    align-items: center;
    justify-content: flex-start
}
#score, #wave {
    color: #fff;
    font-size: 24px
}
#score {
    display: flex;
    justify-content: flex-end;
    width: 180px;
    margin-right: 10px
}
#lives {
    height: 90%
}
#life {
    padding-top: 2px;
    height: inherit
}
#wave {
    margin: auto
}
canvas {
    top: 30px;
    margin: auto;
    display: block;
    /* cursor: crosshair; */
    background-color: black;
    border: 7px solid rgb(255, 110, 0)
}
